@{
    ViewBag.Title = "ProductChecker";
    Layout = "~/Views/Layout/_LayoutThreeColumn.cshtml";
}

<h2>ProductChecker</h2>

<h2>Index</h2>
@section TopSideNav {
    <li>Admin</li>
}

@section SideNav {
    <li><a href="~/Admin/ProductChecker">Kontrollera Produkter</a></li>
    <li><a href="~/Admin/ImageUpload">Ladda upp bilder</a></li>
}


@section Headline {

    <h3 style="margin-bottom:20px">Kolla om alla produkter har bilder!</h3>

}

@section ContentLeft {



}

@section ContentMiddle {



}

@section ContentRight {


}
