<!DOCTYPE html>
@{
    Layout = "~/Views/Layout/_LayoutTwoColumn.cshtml";
    ViewBag.Title = "Gardenart Sweden";
}

@section TopSideNav {
    <li>Gardenart</li>
}

@section SideNav {
    <li><a href="~/Home/About">Om Gardenart</a></li>
    <li><a href="~/Home/History">Historia</a></li>
    <li><a href="~/Home/New">En ny generation trädgårdsmöbler</a></li>
}

@section Headline {

    <h3>Om Gardenart</h3>
}

@section ContentLeft {

    <p class="ingress">
        Trots att Gardenart är ett ungt företag har vi redan funnits på marknaden i tjugo år. 
        Våra trädgårdsmöbler har gjort sitt segertåg över världen och det är många som har fått intrycket av att vi ingår i en stor europeisk koncern med allt vad det innebär, men sanningen är att Gardenart leds av två eldsjälar från huvudkontoret i Guangzhou i Kina.
    </p>

    <p>Gardenarts två grundare är i dag bekanta ansikten i branschen, inte minst från vår alltid välbesökta monter på Spoga, den stora årliga mässan för uteliv i Köln.</p>



    <p>
        I en flod av massproduktion från Kina har Gardenart från starten gått sin egen väg med en filosofi som ligger nära den västerländska, både när det gäller formgivning och affärsmannaskap. 
        I kombination med de fördelar som produktionen i Kina erbjuder kan resultatet inte bli annat än oslagbart.
    </p>



}

@section ContentRight {

    <img src="~/Images/Site/spoga.jpeg" style="margin-bottom:30px;" />

    <blockquote>Gardenart har från start gått sin egen väg med en egen filosofi som ligger mycket nära västerländskt affärsmannaskap och formgivning.</blockquote>


}

