<!DOCTYPE html>
@{
    Layout = "~/Views/Layout/_LayoutTwoColumn.cshtml";
    ViewBag.Title = "Gardenart Sweden";
}


@section TopSideNav {
    <li>Gardenart</li>
}

@section SideNav {
<li><a href="~/Home/About">Om Gardenart</a></li>
<li><a href="~/Home/History">Historia</a></li>
<li><a href="~/Home/New">En ny generation trädgårdsmöbler</a></li>
}


@section Headline {

    <h3>Historia</h3>

}

@section ContentLeft {

    <p class="ingress">Gardenart var tidigt ute med att erbjuda professionella tradingtjänster i Kina till utländska köpare av bland annat trädgårdsmöbler, utan de kostnader och den fördröjning det innebär att gå via ett kontor i Hong Kong. På så sätt har företaget fått en stark och långvarig relation till såväl fabrikerna i de nya tillväxtzonerna i Kina, som till importörerna utomlands.
        För snart tio år sedan bestämde man sig för att ta nästa steg. Tradingverksamheten förvandlades till ett eget företag, som idag omfattar en stor mängd olika artiklar, medan trädgårdsmöblerna omstrukturerades till ett separat bolag med egen produktutveckling, design och fabrik.</p>
    <p>Att ha full kontroll från inköp av råvaror till leverans av färdig produkt är nyckeln till att kunna garantera kvalitet. Där kinesisk kvalité inte räcker till har vi många leverantörer av produkter, från insatsvaror i produktionen till härliga textilier för dynor och kuddar, i såväl Europa som övriga Asien.</p>
    <p>Tillverkning i egen regi är Gardenarts styrka och den största anledningen till vår framgång och orsaken till att vi kan konkurrera med många europeiska, välkända märken. Våra priser är dessutom lägre och gör det därför möjligt för många fler att få tillgång till en ny och spännande design för sin utemiljö.</p>
    <p>2012 fick vi det fantastiskt spännande uppdraget att starta Gardenart Sweden AB, ett dotterbolag till Gardenart Co. Ltd., med målet att tillgodose den skandinaviska marknaden. Tanken är att vi genom våra utvalda samarbetspartners här ska göra vägen från fabrik till konsument så kort och trygg som möjligt. Även här ligger vi i framkant och går vår egen väg med en egen filosofi om form, funktion, distribution och service.</p>
}

@section ContentRight {

<img src="~/Images/Site/sedona.jpg" style="margin-bottom:30px;"/>
    <blockquote>Tillverkning i egen regi är Gardenarts styrka och anledningen till vår framgång och framtoning som jämbördig med många europeiska stora och kända märken. </blockquote>


}

