<!DOCTYPE html>
@{
    Layout = "~/Views/Layout/_LayoutBase.cshtml";
    ViewBag.Title = "Gardenart Sweden";
}


@section Content {

    <!--Content upper-->
    <div class="row">
        <div id="slidingSandra" class="medium-12 columns hide-for-small-only">
            <ul class="example-orbit" data-orbit>
                <li>
                    <img src="~/Images/Site/Startsida1.jpg" />
                    <div class="orbit-caption">
                     En ny generation trädgårdsmöbler
                    </div>
                </li>
                <li>
                    <img src="~/Images/Site/Startsida2.jpg" />
                    <div class="orbit-caption">
                     En ny generation trädgårdsmöbler
                    </div>
                </li>
                <li>
                    <img src="~/Images/Site/Startsida3.jpg" />
                    <div class="orbit-caption">
                     En ny generation trädgårdsmöbler
                    </div>
                </li>
            </ul>
          
        </div>
    </div>

    <!--Content lower-->
    <div class="row" style="margin-top:20px">


        <div class="small-12 medium-4 columns">
            <img src="~/Images/Site/Romy.jpg"/>
        </div>
        <div class="small-12 medium-8 columns">
            <h2>Gardenart</h2>
            <h5>En ny generation trädgårdsmöbler</h5>

            <p>I en tid med många måsten vill vi hitta lösningar som är enkla och tidsbesparande för våra kunder. Inget underhåll, enkel rengöring, smarta varianter och funktioner, men alltid med högsta komfort som ett absolut krav.
                Vi arbetar med aluminium som bas och med olika konstmaterial samt härdat glas som accenter. Färgpaletten i grunden är stram i vitt, taupe, mocca, grått och svart och dessa färger går igen i alla våra material. 
                Detta ger i princip oändligt många kombinationsmöjligheter, tack vare grundfärgerna som fungerar som en sammanhållande faktor.</p>

            <a class="button secondary" href="~/Product/Products">Läs mer om våra trädgårdsmöbler</a>
        </div>


    </div>
}
