<!-- Footer -->

<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="small-6 columns">
              <p>@Html.Partial("_LoginPartial")</p>
            </div>
            <div class="medium-6 columns hide-for-small-only">
                <ul class="inline-list right">
                    <li>Gardenart Sweden AB</li>
                    <li><a href="~/Contact/Contact">Kontakta oss</a></li>
                    <li><a href="~/Wholesaler">Återförsäljare</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


