<!DOCTYPE html>
@{
    Layout = "~/Views/Layout/_LayoutThreeColumn.cshtml";
    ViewBag.Title = "Gardenart";  
}

@section TopSideNav {
    <li>Återförsäljare</li>
}

@section SideNav {
    <li><a href="~/Wholesaler/Index">Våra återförsäljare</a></li>
    <li><a href="~/Contact/Contact">Kontakta Gardenart</a></li>
}


@section Headline {

    <h3 style="margin-bottom:20px">Återförsäljare</h3>

}

@section ContentLeft {

    <p class="alttext"><a href="http://www.finedesign.no">Fine Design A/S</a></p>
    <p>
        Snarøyveien 69	<br />
        1367 Snarøya<br />
        (+47) 90 60 80 37<br />
        <a href="http://www.finedesign.no">www.finedesign.no</a>
    </p>

    <p class="alttext"><a href="http://www.asensommarmobler.se">Åsen Sommarmöbler</a></p>
    <p>
        Åsenkorset E20/R47<br />
        534 95 Vara<br />
        0512-24025<br />
        <a href="http://www.asensommarmobler.se">www.asensommarmobler.se</a>
    </p>

    <p class="alttext"><a href="http://www.parasollutemobler.se">Parasoll Utemöbler</a></p>
    <p>
        Idrottsvägen 3	<br />
        431 63 Mölndal<br />
        031 27 40 25<br />
        <a href="http://www.parasollutemobler.se">www.parasollutemobler.se</a>
    </p>

}

@section ContentMiddle {

    <p class="alttext"><a href="http://www.olsonsab.se">Olsons AB</a></p>
    <p>
        Stora Säby Gård<br />
        184 42 Åkersberga <br />
        08 540 67 876<br />
        <a href="http://www.olsonsab.se">www.olsonsab.se</a>
    </p>


    <p class="alttext"><a href="http://www.sommarmobler.se">Grebbestad Sommarmöbler</a></p>
    <p>
        Industrivägen 4
        <br />
        457 02 Grebbestad<br />
        0525 66 200<br />
        <a href="http://www.sommarmobler.se">www.sommarmobler.se</a>
    </p>

    <p class="alttext"><a href="http://www.barkakratradgardsmobler.se">Barkåkra Trädgårdsmöbler AB</a></p>
    <p>
        Barkåkravägen 191<br />
        262 91 Ängelholm<br />
        0431 201 60<br />
        <a href="http://www.barkakratradgardsmobler.se">www.barkakratradgardsmobler.se</a>
    </p>

}

@section ContentRight {


}
