@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Test/TwoColumn.cshtml";
}

@section Headline {
    <h2>Test</h2>
}

@section LeftContent
    <div>The main content</div>

@section RightContent {
    <div>Some extra content</div>
}

